<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="elFinder" type="elFinder.Connector.Config.AppConnectorConfig, elFinder.Connector" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CRMDBConnectionString" connectionString="Data Source=GITBD-TFS\SQL2017;Initial Catalog=IICEMDB05122022;User ID=sa ;pwd=F@ztrack~ "
      providerName="System.Data.SqlClient" />
    <add name="MasterDBConnectionString" connectionString="Data Source=192.168.0.222;Initial Catalog=masterclientdb;User ID=sa; pwd=F@ztrack~"
      providerName="System.Data.SqlClient" />
    <add name="IICEMDB05122022ConnectionString" connectionString="Data Source=GITBD-TFS\SQL2017;Initial Catalog=IICEMDB05122022;User ID=sa;Password=F@ztrack~"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elFinder apiVersion="2.0" localFSRootDirectoryPath="D:\Project\DunRite\UploadedFiles\" localFSThumbsDirectoryPath="D:\Project\DunRite\UploadedFiles\.thumbs" rootDirectoryName="Root" duplicateFilePattern="Copy of {0}" duplicateDirectoryPattern="Copy of {0}" uploadMaxSize="20M" defaultVolumeName="LocalFileSystem" baseUrl="http://localhost:9039/Uploads/" baseThumbsUrl="http://localhost:9039/Uploads/.thumbs/" />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add verb="*" path="elfinder.connector" type="elFinder.Connector.Connector, elFinder.Connector" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, &#xD;&#xA;            PublicKeyToken=cc7b13ffcd2ddd51"
                                            />
     
        <add assembly="System.Runtime, Version=4.0.20.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Collections, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.TemplateEngine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="100960" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="AdminLogin.aspx" timeout="2880" />
    </authentication>
    <!--<authentication mode="Windows"/>-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" timeout="360" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <add key="ConnectionString" value="Server=GITBD-TFS\SQL2017;database=IICEMDB05122022;uid=sa;pwd=F@ztrack~" />
    <add key="LoginPage" value="InteriorInnovLogin.aspx" />
    <add key="MobileLoginPage" value="http://localhost:9039/mobile.aspx" />
    <add key="CompanyWebURL" value="https://ii.faztrack.com" />
    <add key="CompanyName" value="Interior Innovations" />
    <add key="UseHTTPS" value="No" />
    <add key="UseEmailIntegration" value="Yes" />
    <add key="UseCreditCard" value="false" />
    <!--<add key="AuthorizeAPILoginID" value="6hqx9HGqY2ZG"/>
    <add key="AuthorizeAPITransactionKey" value="4r4Z8j7E84mF85bn"/>-->
    <!--Test Key-->
    <add key="AuthorizeAPILoginID" value="6Ut3zU75z" />
    <add key="AuthorizeAPITransactionKey" value="74Z29k4eMXS4Hf8j" />
    <!--Test Key-->
    <add key="xmlPath" value="D:\Project\IICEMMultiClientGit" />
    <add key="xmlPathToolSettings" value="D:\Project\FileNotFoundNotes" />
    <add key="client_id" value="1" />
    <add key="IsProduction" value="False" />
    <add key="ReportPath" value="D:/Project/IICEMMultiClientGit/Reports/Common/tmp/" />
    <add key="Document_path" value="D:\Project\IICEMMultiClientGit\Document" />
    <add key="Display_path" value="D:\Project\IICEMMultiClientGit\Document\" />
    <add key="smtpserver" value="smarthost.coxmail.com" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="UploadDir" value="D:\Project\IICEMMultiClientGit\File" />
    <add key="TempDir" value="D:\Project\IICEMMultiClientGit\File\Temp" />
    <add key="DocumentManager_Path" value="D:\Project\IICEMMultiClientGit\UploadedFiles\" />
    <add key="DocumentManager_Base_URL" value="http://localhost:9039/IICEMMultiClientGit/UploadedFiles/" />
    <!-- Google Calendar ID -->
    <add key="GoogleOperationCalendarID" value="" />
    <add key="GoogleScheduleCalendarID" value="t4255v2b4cpgvn1l6eupj54m1g@group.calendar.google.com" />
    <add key="GoogleSalesCalendarID" value="iravgmmjk2ekiudgt5a5uh982k@group.calendar.google.com" />
    <!-- GoogleAPI credentials -->
    <add key="ClientId" value="676620973200-4kketm6q208vcfusmp4h4ecuhrvb4vsh.apps.googleusercontent.com" />
    <add key="ClientSecret" value="LFmuKfpagAlgs-YcuP42lZkF" />
    <!-- Update the port of the Redirect URI (don't forget to set this value also in the Google API Console) -->
    <add key="RedirectUri" value="http://localhost:9039/IICEMMultiClientGit/GoogleCalendarRefreshToken.aspx" />
    <!--<add key="RedirectUri" value="http://test.ii.faztrack.com/GoogleCalendarRefreshToken.aspx" />-->
    <add key="DevBCC" value="faztrackclient@gmail.com" />
    <add key="ErrorTo" value="avijit019@gmail.com, arefin.monirul@gmail.com" />
    <add key="ErrorCC" value="imrulk@gmail.com" />
    <add key="SendEmail" value="No" />
    <add key="IsTestServer" value="false" />
    <add key="IsContactProductionServer" value="false" />
    <add key="MerchantName" value="Test FazTrack" />
    <add key="MerchantSiteId" value="5UKTIR3H" />
    <add key="MerchantKey" value="ND0VS-GQCF6-7V41K-YT6PE-FCL4J" />
    <add key="CustPortalUrl" value="https://ii.faztrack.com/customerlogin.aspx" />
    <add key="ProjectUrl" value="https://ii.faztrack.com/"/>
    <!--
   <add key="APIAccountId" value="8d7c44e1-fff8-416b-a87c-4e3a80a6360d"/>
    <add key="APIUserEmail" value="avijit@faztrack.com"/>
    <add key="Password" value="Friday123"/>
    <add key="APIUrl" value="https://demo.docusign.net/restapi"/>
    <add key="IntegratorsKey" value="FAZT-09f73908-fcb1-49c6-8adf-6910e93b25f3"/>
   -->
    <!--
    <add key="APIAccountId" value="91467249-491f-49a0-8948-e37cc3c4317d"/>
    <add key="APIUserEmail" value="alyons@interiorinnov.com"/>
    <add key="Password" value="innovation5"/>
    <add key="APIUrl" value="https://demo.docusign.net/restapi"/>
    <add key="IntegratorsKey" value="aa412339-db2f-4059-a1ef-6fac2ed4d45a"/>
   -->
    <add key="APIAccountId" value="cb91f278-bc5a-4863-a842-feeb0e1d88ad" />
    <add key="APIUserEmail" value="docusign@faztrack.com" />
    <add key="Password" value="faztrackbd" />
    <add key="APIUrl" value="https://demo.docusign.net/restapi" />
    <add key="IntegratorsKey" value="13874f90-9cfa-418f-8d98-72c4ff425ba2" />
    <add key="SigningLocation" value="Embedded" />
    <add key="Authentication" value="None" />
    <add key="AccessCode" value="" />
    <add key="DocumentManager_Path" value="D:\Project\IICEMMultiClientGit\UploadedFiles\" />
    <add key="AuthId" value="SAYMYYY2MWMJQTM2I4NI" />
    <add key="AuthToken" value="OTk1NWVmZGEtOGYxYy00MDQ3LTk5NzMtMjEzNmI1" />
    <add key="FromNumber" value="+18882888706" />
    <add key="AppType" value="update" />
    <add key="SMSSEND" value="false" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="elfinder" path="elfinder.connector" type="elFinder.Connector.Connector, elFinder.Connector" verb="*" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior1">
          <clientCredentials>
            <clientCertificate findValue="06 d1 91" x509FindType="FindBySerialNumber" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="20" maxSizeOfMessageToLog="5000000" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="APIServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="500000" maxBufferPoolSize="524288" maxReceivedMessageSize="500000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="APIServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <textMessageEncoding messageVersion="Soap12WSAddressingAugust2004" />
          <security authenticationMode="CertificateOverTransport" securityHeaderLayout="Lax">
            <secureConversationBootstrap />
          </security>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.docusign.net/api/3.0/api.asmx" binding="basicHttpBinding" bindingConfiguration="APIServiceSoap" contract="DocuSignWeb.APIServiceSoap" name="APIServiceSoap" />
      <endpoint address="https://demo.docusign.net/api/3.0/api.asmx" behaviorConfiguration="EndPointBehavior1" binding="customBinding" bindingConfiguration="APIServiceSoap1" contract="DocuSignWeb.APIServiceSoap" name="APIServiceSoap1">
        <identity>
          <certificateReference x509FindType="FindBySerialNumber" findValue="" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>